.data-main{
    margin-top: 320px;
    padding-top: 185px;
    margin-left: 500px;
    height:400px;
    width:500px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.pg{
    padding: 10px;
    padding-left: 70px;
}

.pg1{
    margin-left: 2px;
    text-shadow:4px 4px 11px rgba(169, 166, 172, 0.918);
}
.pg2{
    margin-left: 2px;
    text-shadow:4px 4px 11px rgba(185, 181, 187, 0.918);
}

thead tr th{
    padding-left: 2px;
}

table tbody tr td{
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}